<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="ENCODER_PATTERN"
              value="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%thread] [%X{consumerName}] [%X{requestId}] %logger{36} : %msg%n"/>
    <property name="LOG_FILE" value="logs/lottery-service.log"/>
    <property name="LOG_FILE_NAME_PREFIX" value="logs/lottery-service"/>

    <appender name="SMART_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${ENCODER_PATTERN}</pattern>
        </encoder>
    </appender>
    <appender name="SMART_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_FILE}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_FILE_NAME_PREFIX}-%d{yyyy-MM-dd}-%i.log</fileNamePattern>
            <maxHistory>10</maxHistory>
            <maxFileSize>50MB</maxFileSize>
        </rollingPolicy>
        <encoder>
            <pattern>${ENCODER_PATTERN}</pattern>
        </encoder>
    </appender>

    <springProfile name="default">
        <logger name="org.gaborbalazs.smartplatform.lotteryservice" level="DEBUG"/>
        <logger name="org.gaborbalazs.smartplatform.loggingfilter.filter.CustomLoggingFilter" level="DEBUG"/>

        <root level="INFO">
            <appender-ref ref="SMART_CONSOLE"/>
            <appender-ref ref="SMART_FILE"/>
        </root>
    </springProfile>

    <springProfile name="integration-test">
        <logger name="org.gaborbalazs.smartplatform.lotteryservice" level="ERROR"/>
        <logger name="org.gaborbalazs.smartplatform.loggingfilter.filter.CustomLoggingFilter" level="DEBUG"/>

        <root level="INFO">
            <appender-ref ref="SMART_CONSOLE"/>
            <appender-ref ref="SMART_FILE"/>
        </root>
    </springProfile>

    <springProfile name="prod">
        <logger name="org.gaborbalazs.smartplatform.lotteryservice" level="ERROR"/>

        <root level="INFO">
            <appender-ref ref="SMART_CONSOLE"/>
            <appender-ref ref="SMART_FILE"/>
        </root>
    </springProfile>
</configuration>